.vl {
    border-left: 1px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}

.thumbnail{
   display: block;
   border-radius: 50%;
 }
.pic-thumbnail{
  width: 80px;
  height: 80px;
}

.jumbotron{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#post-title{
  color: grey;
}
#post-by{
  color: blue;
}
#post-content{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
#trending-content{
  border-top: 1px solid grey;
}
